In [171]:
import numpy as np
import pandas as pd

In [172]:
x=pd.read_excel('Energy Indicators.xls')
x

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Andorra
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
9,NaN,NaN,NaN,Petajoules,Gigajoules,%
10,NaN,NaN,Andorra,9,121,88.6957
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
16,NaN,NaN,NaN,Petajoules,Gigajoules,%
17,NaN,Afghanistan,Afghanistan,321,10,78.6693
18,NaN,Albania,Albania,102,35,100
19,NaN,Algeria,Algeria,1959,51,0.55101
20,NaN,American Samoa,American Samoa,...,...,0.641026
21,NaN,Andorra,Andorra,9,121,88.6957
22,NaN,Angola,Angola,642,27,70.9091
23,NaN,Anguilla,Anguilla,2,136,0
24,NaN,Antigua and Barbuda,Antigua and Barbuda,8,84,0
25,NaN,Argentina,Argentina,3378,79,24.0645
26,NaN,Armenia,Armenia,143,48,28.2361
27,NaN,Aruba,Aruba,12,120,14.8707
28,NaN,Australia,Australia1,5386,231,11.8108
29,NaN,Austria,Austria,1391,164,72.4528
...,...,...,...,...,...,...
252,NaN,2,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
253,NaN,3,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
254,NaN,4,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
255,NaN,5,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
256,NaN,6,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
257,NaN,7,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
258,NaN,8,Data include Timor-Leste until 2001.,NaN,NaN,NaN
259,NaN,9,Data include San Marino and the Holy See.,NaN,NaN,NaN
260,NaN,10,Data include Okinawa.,NaN,NaN,NaN
261,NaN,11,The data for crude oil production include 50 p...,NaN,NaN,NaN
262,NaN,12,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
263,NaN,13,Data include the Azores and Madeira.,NaN,NaN,NaN
264,NaN,14,Data for crude oil production include 50 per c...,NaN,NaN,NaN
265,NaN,15,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
266,NaN,16,Data include the Canary Islands.,NaN,NaN,NaN
267,NaN,17,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
268,NaN,18,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
269,NaN,19,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
270,NaN,20,Includes the 50 states and the District of Col...,NaN,NaN,NaN
271,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,Definitions & Technical notes:,NaN,NaN,NaN,NaN
273,NaN,The data on energy supply and renewable electr...,NaN,NaN,NaN,NaN
274,NaN,Energy supply is defined as energy production ...,NaN,NaN,NaN,NaN
275,NaN,Electricity production refers to gross product...,NaN,NaN,NaN,NaN
276,NaN,Renewable electricity production (%) refers to...,NaN,NaN,NaN,NaN
277,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,Data Quality:,NaN,NaN,NaN,NaN
280,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
281,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

In [173]:
x.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

In [174]:
x=x[x.columns[2:]]
x.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Last update: December 2015

In [175]:
x.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
x.columns

Index(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'], dtype='object')

In [176]:
x=x[17:]
x

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321,10,78.6693
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,...,...,0.641026
21,Andorra,9,121,88.6957
22,Angola,642,27,70.9091
23,Anguilla,2,136,0
24,Antigua and Barbuda,8,84,0
25,Argentina,3378,79,24.0645
26,Armenia,143,48,28.2361
27,Aruba,12,120,14.8707
28,Australia1,5386,231,11.8108
29,Austria,1391,164,72.4528
30,Azerbaijan,567,60,6.38434
31,Bahamas,45,118,0
32,Bahrain,574,425,0
33,Bangladesh,1625,10,1.96633
34,Barbados,19,69,0
35,Belarus,1142,120,0.463389
36,Belgium,2338,210,9.95974
37,Belize,13,39,64.69
38,Benin,170,16,0
39,Bermuda,6,88,0
40,Bhutan,63,83,100
41,Bolivia (Plurinational State of),336,32,31.4771
42,"Bonaire, Sint Eustatius and Saba",5,213,0
43,Bosnia and Herzegovina,266,70,41.4647
44,Botswana,86,39,0.131406
45,Brazil,12149,59,69.648
46,British Virgin Islands,2,85,0
...,...,...,...,...
252,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
253,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
254,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
255,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
256,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
257,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
258,Data include Timor-Leste until 2001.,NaN,NaN,NaN
259,Data include San Marino and the Holy See.,NaN,NaN,NaN
260,Data include Okinawa.,NaN,NaN,NaN
261,The data for crude oil production include 50 p...,NaN,NaN,NaN
262,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
263,Data include the Azores and Madeira.,NaN,NaN,NaN
264,Data for crude oil production include 50 per c...,NaN,NaN,NaN
265,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
266,Data include the Canary Islands.,NaN,NaN,NaN
267,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
268,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
269,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
270,Includes the 50 states and the District of Col...,NaN,NaN,NaN
271,NaN,NaN,NaN,NaN
272,NaN,NaN,NaN,NaN
273,NaN,NaN,NaN,NaN
274,NaN,NaN,NaN,NaN
275,NaN,NaN,NaN,NaN
276,NaN,NaN,NaN,NaN
277,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,NaN

In [177]:
x=x[:227]
x

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321,10,78.6693
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,...,...,0.641026
21,Andorra,9,121,88.6957
22,Angola,642,27,70.9091
23,Anguilla,2,136,0
24,Antigua and Barbuda,8,84,0
25,Argentina,3378,79,24.0645
26,Armenia,143,48,28.2361
27,Aruba,12,120,14.8707
28,Australia1,5386,231,11.8108
29,Austria,1391,164,72.4528
30,Azerbaijan,567,60,6.38434
31,Bahamas,45,118,0
32,Bahrain,574,425,0
33,Bangladesh,1625,10,1.96633
34,Barbados,19,69,0
35,Belarus,1142,120,0.463389
36,Belgium,2338,210,9.95974
37,Belize,13,39,64.69
38,Benin,170,16,0
39,Bermuda,6,88,0
40,Bhutan,63,83,100
41,Bolivia (Plurinational State of),336,32,31.4771
42,"Bonaire, Sint Eustatius and Saba",5,213,0
43,Bosnia and Herzegovina,266,70,41.4647
44,Botswana,86,39,0.131406
45,Brazil,12149,59,69.648
46,British Virgin Islands,2,85,0
...,...,...,...,...
214,Switzerland17,1113,136,57.7455
215,Syrian Arab Republic,542,28,11.5683
216,Tajikistan,106,13,99.7429
217,Thailand,5336,79,4.30519
218,The former Yugoslav Republic of Macedonia,117,56,26.1405
219,Timor-Leste,7,6,0
220,Togo,134,19,80.1802
221,Tonga,3,28,0
222,Trinidad and Tobago,824,611,0
223,Tunisia,430,39,3.49255
224,Turkey,4897,64,28.5367
225,Turkmenistan,1102,210,0
226,Turks and Caicos Islands,3,85,0
227,Tuvalu,...,...,0
228,Uganda,452,12,68.0182
229,Ukraine18,4844,107,8.06731
230,United Arab Emirates,2710,300,0
231,United Kingdom of Great Britain and Northern I...,7920,124,10.6005
232,United Republic of Tanzania,994,20,31.0728
233,United States of America20,90838,286,11.571
234,United States Virgin Islands,...,...,0
235,Uruguay,196,58,71.605
236,Uzbekistan,1798,62,21.3284
237,Vanuatu,3,10,14.7059
238,Venezuela (Bolivarian Republic of),2871,95,67.8345
239,Viet Nam,2554,28,45.3215
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.7147
243,Zimbabwe,480,32,52.5361

In [178]:
x[x=='...']=np.nan
x

C:\Users\APSSDC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321,10,78.6693
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9,121,88.6957
22,Angola,642,27,70.9091
23,Anguilla,2,136,0
24,Antigua and Barbuda,8,84,0
25,Argentina,3378,79,24.0645
26,Armenia,143,48,28.2361
27,Aruba,12,120,14.8707
28,Australia1,5386,231,11.8108
29,Austria,1391,164,72.4528
30,Azerbaijan,567,60,6.38434
31,Bahamas,45,118,0
32,Bahrain,574,425,0
33,Bangladesh,1625,10,1.96633
34,Barbados,19,69,0
35,Belarus,1142,120,0.463389
36,Belgium,2338,210,9.95974
37,Belize,13,39,64.69
38,Benin,170,16,0
39,Bermuda,6,88,0
40,Bhutan,63,83,100
41,Bolivia (Plurinational State of),336,32,31.4771
42,"Bonaire, Sint Eustatius and Saba",5,213,0
43,Bosnia and Herzegovina,266,70,41.4647
44,Botswana,86,39,0.131406
45,Brazil,12149,59,69.648
46,British Virgin Islands,2,85,0
...,...,...,...,...
214,Switzerland17,1113,136,57.7455
215,Syrian Arab Republic,542,28,11.5683
216,Tajikistan,106,13,99.7429
217,Thailand,5336,79,4.30519
218,The former Yugoslav Republic of Macedonia,117,56,26.1405
219,Timor-Leste,7,6,0
220,Togo,134,19,80.1802
221,Tonga,3,28,0
222,Trinidad and Tobago,824,611,0
223,Tunisia,430,39,3.49255
224,Turkey,4897,64,28.5367
225,Turkmenistan,1102,210,0
226,Turks and Caicos Islands,3,85,0
227,Tuvalu,NaN,NaN,0
228,Uganda,452,12,68.0182
229,Ukraine18,4844,107,8.06731
230,United Arab Emirates,2710,300,0
231,United Kingdom of Great Britain and Northern I...,7920,124,10.6005
232,United Republic of Tanzania,994,20,31.0728
233,United States of America20,90838,286,11.571
234,United States Virgin Islands,NaN,NaN,0
235,Uruguay,196,58,71.605
236,Uzbekistan,1798,62,21.3284
237,Vanuatu,3,10,14.7059
238,Venezuela (Bolivarian Republic of),2871,95,67.8345
239,Viet Nam,2554,28,45.3215
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.7147
243,Zimbabwe,480,32,52.5361

In [180]:
x['Energy Supply']=x['Energy Supply']*1000000
x['Energy Supply']

C:\Users\APSSDC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

17       321000000000000
18       102000000000000
19      1959000000000000
20                   NaN
21         9000000000000
22       642000000000000
23         2000000000000
24         8000000000000
25      3378000000000000
26       143000000000000
27        12000000000000
28      5386000000000000
29      1391000000000000
30       567000000000000
31        45000000000000
32       574000000000000
33      1625000000000000
34        19000000000000
35      1142000000000000
36      2338000000000000
37        13000000000000
38       170000000000000
39         6000000000000
40        63000000000000
41       336000000000000
42         5000000000000
43       266000000000000
44        86000000000000
45     12149000000000000
46         2000000000000
             ...
214     1113000000000000
215      542000000000000
216      106000000000000
217     5336000000000000
218      117000000000000
219        7000000000000
220      134000000000000
221        3000000000000
222      824000000000000
223      430000000000000
224     4897000000000000
225     1102000000000000
226        3000000000000
227                  NaN
228      452000000000000
229     4844000000000000
230     2710000000000000
231     7920000000000000
232      994000000000000
233    90838000000000000
234                  NaN
235      196000000000000
236     1798000000000000
237        3000000000000
238     2871000000000000
239     2554000000000000
240                    0
241      344000000000000
242      400000000000000
243      480000000000000
Name: Energy Supply, Length: 227, dtype: object

In [181]:
x['Energy Supply'].head()

17     321000000000000
18     102000000000000
19    1959000000000000
20                 NaN
21       9000000000000
Name: Energy Supply, dtype: object